<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Patient Details</title>
    <link rel="stylesheet" href="/css/updatePatient.css">
</head>
<body>
    <form>
        <div class="container">
            <h2>Update Patient Details</h2>
            <hr>
            <form action="/update" method="POST">
            <label>Patient SSN ID</label>
            <input type="text" placeholder="Enter SSN ID" name="ssnid" id="ssnid" /> 
            <button class="searchbtn" type="submit" onclick="_blank">
                Search
            </button>
            </form>
        </div>
    </form>
</body>
</html>