<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sidenavbar.css">
</head>

<body>

    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/search">Search</a>
        <a href="/delete">Delete</a>
        <a href="/patients">View Patients</a>
        <a href="/registerPatient">Register</a>
        <a href="/update">Update</a>
        <a href="/addMedicine">Add Medicine</a>
        <a href="/logout">Logout</a>
    </div>

</body>

</html>