<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>ABC Healthcare</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/welcome.css" />
</head>

<body>
  <nav class="navbar my-nav navbar-expand-lg navbar-dark bg-light">
    <div class="container" id="login">
          <a class="btn  custButton" href="/login">Login</a>   
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row d-flex">
        <div class="col-sm d-none d-xl-inline">
        </div>
        <div class="col-sm alignment">
          <h1 id="header" class="display-4">What ABC Offers</h1>
          <p class="mt-5">
            From scrapes and cuts to delivering a baby, ABC Healthcare is committed to protecting you and your loved
            ones by providing a safe place for care during these times. With options like telehealth urgent care
            services and virtual waiting rooms for in-person physician care, we ensure you get the care you need
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="middle">
      <div class="headerSub mb-3 mt-4">HOW TO JOIN US?</div>
      The answer to this is as easy as it can get! Register with us as a Life
      Insurance Agent! Wait! Before you close this tab after reading the word
      "Insurance Agent", please do look at our next point!
    </div>
    <hr />
    <div>
      <div class="headerSub mb-3 mt-4">WHY BE A LIFE INSURANCE AGENT?</div>
      There are numerous perks of being a Life Insurance Agent! Some of them
      are listed below:
      <ul>
        <li>
          Start earning quickly: No waiting for any extra set of
          qualifications.
        </li>

      </ul>
    </div>
    <hr />
    <div>
      <div class="headerSub mb-3 mt-4">HOW TO BE A LIFE INSURANCE AGENT?</div>
      Just follow four simple steps:<br />
    </div>
    <br /><br />
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="client.js" async defer></script>

</body>

</html>