<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>ABC Healthcare</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/welcome.css" />
</head>

<body>
  <!--============================ Start Header Area ============================== -->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand py-3" href="#">ABC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <div class="navbar-nav py-3">
            <a class="btn btn-success btnlogin" href="/login">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--============================ End Header Area ============================== -->

  <!--============================ Start Main Area ============================== -->
  <main class="site-main">

    <!--======================= Start Bannner Area =================== -->
    <section class="site-banner">
      <div class="d-flex">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-4 about ">
            <p>
              From scrapes and cuts to delivering a baby, ABC Healthcare is committed to protecting you and your loved
              ones by providing a safe place for care during these times. With options like telehealth urgent care
              services and virtual waiting rooms for in-person physician care, we ensure you get the care you need
            </p>
            <a href="#aboutmore" class="btn btn-primary ">Read More </a>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            <img src="/images/6301.jpg" class="img-fluid" alt="">
          </div>
        </div>
    </section>
    <!--====================== End Banner Area ===================== -->
  </main>

  <!--====================== Start About Area ===================== -->
  <section id="aboutmore" class="site-banner mt-5">
    <div class="d-flex">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <img src="/images/undraw_medicine_b1ol.svg" class="img-fluid" >
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4 about">
          <p>
            From scrapes and cuts to delivering a baby, ABC Healthcare is committed to protecting you and your loved
            ones by providing a safe place for care during these times. With options like telehealth urgent care
            services and virtual waiting rooms for in-person physician care, we ensure you get the care you need
          </p>
        </div>
      </div>
  </section>
  <div class="speciality">
    <div class="speciality-title text-center">
      <h2 class="title ">Specialties</h2>
      <p>Providing Comprehensive care for Women & Children</p>
    </div>
    <div>
      <hr>
    </div>
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="col-lg-4">
          <div class="card">
              <div class="card-heading">                
                <img class="card-icon" src="/images/maternity.svg" >
                <span class="card-title">Maternity</span>
              </div>
              <div class="card-body">
              <p class="card-text">There might be other me-toos like the smell of rain soaked earth or 
                that of a freshly printed book, but nothing can rival.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="background-color: rgba(250, 235, 215, 0.204);">
            <div class="card-heading">                
              <img class="card-icon" src="/images/gynecology.svg">
              <span class="card-title">Gynaecology</span>
            </div>
            <div class="card-body">
              <p class="card-text">Every stage in a woman’s life comes with its own set of new developments,
                 sometimes bewildering changes and loads of questions.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
              <div class="card-heading">                
                <img class="card-icon" src="/images/baby-boy.svg">
                <span class="card-title">Paediatrics</span>
              </div>
              <div class="card-body">
              <p class="card-text">Before your little one arrives, a great deal of preparation needs to be 
                done, and choosing the right Paediatrician.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container second-cards">
      <div class="d-flex flex-wrap">
        <div class="col-lg-4">
          <div class="card" style="background-color: rgba(250, 235, 215, 0.204);">
              <div class="card-heading">                
                <img class="card-icon" src="/images/fetus.svg">
                <span class="card-title">Fetal Medicine</span>
              </div>
              <div class="card-body">
              <p class="card-text">Postnatal preventive care is as important as prenatal care. The postnatal
                period lasts for 6-8 weeks after the baby is born.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-heading">                
              <img class="card-icon" src="/images/newborn.svg">
              <span class="card-title">Neonatology</span>
            </div>
            <div class="card-body">
              <p class="card-text">Sometimes, babies are born with a birth defect or illness that requires
                 specialised care, or they may be born before.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: rgba(250, 235, 215, 0.204);">
              <div class="card-heading">                
                <img class="card-icon" src="/images/womb.svg">
                <span class="card-title">Fertility</span>
              </div>
              <div class="card-body">
              <p class="card-text">Infertility is the inability to get pregnant after trying over for a long
                 period. There are two types of infertility problems.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====================== End About Area ======================= -->
  <!--============================ End Main Area ============================== -->
  <!--========================== Start Footer Area ============================ -->
  <footer>
    <div class="contact">
      <div class="d-flex">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <p class="follow">Follow us on</p>
          <span>
            <img class="follow-icons" src="/images/facebook.svg">
            <img class="follow-icons" src="/images/linkedin.svg">
            <img class="follow-icons" src="/images/twitter.svg">
            <img class="follow-icons" src="/images/instagram.svg">
          </span>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4  ">
          <p class="follow">Contact us</p>
          <p> 60, Twenty High,
            CH Block, Rajasthan </p>
          <p>India 845751</p>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </footer>
<!--============================ End Footer Area ============================ -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>
