body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('../images/med_background.jpg');
    width:100%;
    background-size: cover;
}
* {
    box-sizing: border-box;
}
.container {
    margin-top: 50px;
    padding: 15px;
    background-color: rgb(250, 243, 243);
    width :30%;
    border-radius: 10px;
    opacity: 0.9;
}
input,select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e1dada;
    border-radius: 5px;
}
input:focus,select:focus {
    background-color: rgb(177, 170, 170);
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.btn {
    background-color: rgba(188, 236, 17, 0.741);
    opacity:0.9;
}
.btn:hover{
    opacity:1;
}