body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
}
* {
    box-sizing: border-box;
}
.container {
    width:80%;
    margin-left: 20%;
    padding: 40px;
    background-color: white;
}
input, select {
    text-align:center;
    width: 20%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f7faf8;
}
input:focus,select:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align:center;
    opacity: 0.9;
}
label{
    width:200px;
}