body{
    font-family: 'Montserrat';
}
.navbar{
    padding: 0px 70px;
 }
 p{
     font-family: 'Roboto';
     font-size: 20px;
 }
 .about{
     margin: auto;      
     text-align: center;
 }
 .btnlogin{
     max-width:100px;
 }